
.container {
    font-size: 1rem;
    // background-color: $red-color;
    // color: $blue-color
}

.user-avatar
{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 6px;
 
}

.nav-left-drop
{
    float: right;
}