<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
<style>
.container {
  font-size: 1rem; }

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 6px;


}

.nav-left-drop {
  float: right; }


</style>  <div class="container">

      <a class="navbar-brand" href="/">TL BLOG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    
            <div class="navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">

                {{!-- <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> --}}




                 
              </ul>
              
            </div>



                  <div class="container menu-drop">

                    <li class="nav-item dropdown nav-left-drop">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t39.30808-6/348552278_751168039825696_1664444258997174852_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=K7H5uvbHrJsAX9LbBAG&_nc_ht=scontent.fsgn5-3.fna&oh=00_AfDPQhJiu73KirNbYgQ2PsLzTv4fVEcL5VxJTqgo2hL3xw&oe=64ECEEC0" class="user-avatar">
                    Thành Luân
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/courses/create">Tạo khóa học mới</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
                       <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
                       <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/logout">Đăng xuất</a>
      
                    </ul>
                     </li>
                  </div>
               


            

  </div>

   
</nav>